.font{
    color: #60707a;
    font-family: 'Montserrat', sans-serif;
}
.userName{
    font-weight: bold;
}
.container{
    border: 5px solid #0191ff;
    padding : 11px;
    display:flex;
}
.containerText{
    padding : 5px 0;
}
.image{
    width: 55px;height:55px;
}
